@model VidlyStore.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 >Movies</h2>
<div class="text-left">
    <h2> <i class="glyphicon-plus"></i>  @Html.ActionLink("Add Movie", "New", "Movie")</h2>
</div>
@if (Model.movie.Count == 0)
{
    <p>No Movies</p>
}
else
{
<table id="Movies" class="table table-bordered table-hover" >
    <thead>
        <th>Movie</th>
        <th>Genre</th>
        <th>Delete</th>
    </thead>
        <tbody>
            @foreach (var mov in Model.movie)
            {
            <tr>
                <td>
                    @Html.ActionLink(mov.Name.ToString(), "Edit", "Movie", new { id = mov.Id }, null);
                </td>
                <td>@mov.genre.GenreName</td>
                <td><button data-movie-id="@mov.Id" class="btn-link js-delete">Delete</button></td>
            </tr>
            }
        </tbody>
</table>
    
}
@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#Movies").dataTable();
            $("#Movies").on("click", ".js-delete", function (){
                var button = $(this);
                if (confirm("Are you sure want to delete this record?")) {
                    $.ajax({
                        url: "/api/movies/" + button.attr("data-movie-id"),
                        method: "Delete",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                        }

                    })
                }
                
            })
        })
    </script>
    
    }
